.detailCard {
    position: relative;
    min-height: 200px;
    background: #f4e590;
    padding: 40px 20px;
    border-radius: 20px;
}

.detailCardWrapper h2 {
    font-size: 29px;
    font-weight: 700;
    position: relative;
    z-index: 2;
}
.detailCardWrapper p {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    z-index: 2;
    color: #323333;
}

.cardSide {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    border-radius: 0 0 20px 0;
}

.delivery {
    z-index: 1;
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.detailCard1 {
    background: #b7cbf2;
    padding: 40px 20px;
    border-radius: 20px;
}

.detailCard2 {
    position: relative;
    background: #c1e1bd;
    padding: 40px 20px;
    border-radius: 20px;
}

.supportIcon {
    z-index: 1;
    width: 189px;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 0px 20px 20px 0;
}

.detailCard3 {
    position: relative;
    min-height: 200px;
    background: #f7d496;
    padding: 40px 20px;
    border-radius: 20px;
}

.warrantyIcon {
    z-index: 1;
    border-radius: 0 20px 20px 0;
    width: 160px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.detailCard1 {
    position: relative;
}

.paymentSecureIcon {
    width: 180px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    border-radius: 0 0 20px 0;
}