.exclusiveDealBanner img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    z-index: 0;
}
.exclusiveDealContent{
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 50px;
}

.exclusiveDealTitle{
    font-size: 38px;
    font-weight: 500;
}
.exclusiveDealTitle span{
    color: #e8c31c;
}
.exclusiveDealItemTitle{
    font-size: 19px;
    color: #8dba3b;
    font-weight: 600;
}
.exclusiveDealEquipment img{
    object-fit: cover;
    width: 500px;
    height: auto;
    position: relative;
    top: -30px;
    margin-left: -120px;
}
.exclusiveDealItemWrapper{
    height: auto;
}

.bannerBtn {
    margin-top: 14px;
    border: 0;
    background: linear-gradient(to right, #8dba3b, #51850a);
    font-size: 13px;
    font-weight: 700;
    border-radius: 6px;
    padding: 9px 20px;
    transition: all 0.3s ease;
  }
  
  .bannerBtn:hover {
    background: #C1DE6889;
  }