.TopHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f0f0f0;
    padding: 10px 5px;
    width: 100%;
}

.topHeaderLeft ul {
    list-style: none;
    font-size: 12.5px;
    color: #323333;
}

.topHeaderCenter {
    list-style: none;
    font-size: 19.44px;
    color: #323333;
}

.topHeaderCenter span {
    font-weight: 700;
    text-decoration: underline;
}

.shopNowButton {
    background: linear-gradient(to right, #8dba3b, #51850a);
    border: none;
    padding: 5px 10px;
    height: auto;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.topHeaderRight h2 {
    font-size: 14px;
    margin-bottom: 0;
}

.topHeaderRight a {
    color: #239c3d;
}

.topHeaderRightIcon {
    font-size: 25px;
    border: 1px solid #239c3d;
    color: #239c3d;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.topHeaderTicker p {
    animation: verticalTicker 3s linear infinite;
}

@keyframes verticalTicker {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
  
    10% {
      transform: translateY(0);
      opacity: 1;
    }
  
    80% {
      transform: translateY(0);
      opacity: 1;
    }
  
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }