.breadcrumb ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 50px;
    font-size: 14px;
  }

  .shippingReturnHeading h1{
    font-size: 38px;
  }

  .shippingReturnContent{
    padding: 20px 100px;
    text-align: justify;
    line-height: 1.8;
    font-size: 18px;
  }